@import "modules/button";

/*
|-------------------------------------------------------------------------------------
|	Sticky footer
|-------------------------------------------------------------------------------------
*/
html, body { height: 100%; }
// body:before { content:""; height:100%; float:left; width:0; margin-top:-32767px;/ } /*Opera Fix*/
.outter { min-height: 100%; }
main { overflow: auto; padding-bottom: 30px; }
footer { position: relative; margin-top: -30px; height: 30px; clear:both; }
// main { display:table;height:100% } /*IE8 Fix*/
/*
|-------------------------------------------------------------------------------------
|	Wrapper
|-------------------------------------------------------------------------------------
*/
.wrapper {
	@include clearfix();
	width: 1200px;
	margin: auto;
	position: relative;
}
/*
|-------------------------------------------------------------------------------------
|	Logos
|-------------------------------------------------------------------------------------
*/
.logo { @include hide-text(); }


.amount { &:before { content: "$"; margin-right: 2px; } }

i { display: none; }

button { &:focus { @include formFocus($orange); } }
input { &:focus { @include formFocus($orange); } }