/*
|-------------------------------------------------------------------------------------
|	Project Variables
|-------------------------------------------------------------------------------------
*/

$radius: 6px;

// $regular: 'Source Sans Pro', sans-serif;
// $bold: 'Lato', sans-serif;

// $body-bg:          #F6F6F6;
// $text-color:       #73879C;

$font-size-base: 	15px;
$line-height:      	1.26;
$header-font-weight: normal;

// $font-family-base: 		$regular;
// $headings-font-family: 	$bold;
// $headings-color: 		#506A85;

// $link-color: #6DC1DE;
// $link-hover-color: #00B1D2;

// Bootstrap labels
// $brand-primary: 		$blue;
// $brand-success: 		$green;
// $brand-warning:    	$yellow;
// $brand-danger:     	$red;
// $brand-info:       	$lightBlue;

//	Grises
$gris03: #F7F7F7; $gris06: #F0F0F0; $gris10: #E6E6E6; $gris20: #CCC; $gris30: #B3B3B3; $gris40: #999; $gris50: #808080; $gris60: #666; $gris70: #4D4D4D; $gris80: #333;

$orange: #FC651B;
$blue: #2976b6;
$lblue: #4CA1D8;
$inactiveText: $gris40;
$activeText: $gris60;
$lgray: $gris06;
$gray: $gris20;
$dgray: $gris50;

/*
|-------------------------------------------------------------------------------------
|	Default Variables
|-------------------------------------------------------------------------------------
*/
// Mediaqueries breakpoints
$screen-phone-portrait: 	29.9375em;	// 479px
$screen-phone: 				30em; 		// 480px
$screen-lg-phone: 			40em; 		// 640px
$screen-tablet: 			48em; 		// 768px
$screen-desktop: 			60em; 		// 960px
$screen-lg-desktop: 		75em; 		// 1200px
$screen-xlg-desktop: 		87.5em; 	// 1400px

// Evaluate margin, padding, the same way Semantic Grid does
$gutter: $total-width*((($gutter-width*.5)/gridsystem-width($columns))*-1);

// Set Fluid grid ( semantic.gs )
$total-width: 100%;

// Global transition
$transition: all .25s ease;

// Default box-shadow
$box-shadow: 1px 2px 2px rgba(0,0,0,.3);

// Correct path to Glyphicons
$icon-font-path: "../assets/bootstrap-sass-official/assets/fonts/bootstrap/";

// Colores
$facebook: #4C66A4;
$twitter: #55ACEE;
$google: #DD4B39;
$youtube: #CD201F;
$linkedin: #0976B4;