main {
	padding-top: 20px;

	h2 {
		font-size: 22px;
		margin-bottom: 4px;
	}
}
/*
|-------------------------------------------------------------------------------------
|	first column
|-------------------------------------------------------------------------------------
*/
.actions {
	@include column(3.25);
}
.section {
	margin-bottom: 20px;

	// h2 { margin-bottom: 8px; }
}
.product {
	@include clearfix;
	border: 1px solid $gray;
	border-radius: 6px 6px 0 0;
	padding: 14px 40px 14px 20px;
	position: relative;

	&:after {
		@extend %font;
		content: "\f105";
		color: $orange;
		font-size: 30px;
		position: absolute;
		right: 10px;
		top: 13px;
	}

	&:only-of-type { border-radius: 6px; }

	& + .product {
		margin-top: -1px;
		border-radius: 0px;

		& + .product {
			border-radius: 0 0 6px 6px;
		}
	}
	&.active {
		background-color: $orange;
		border: none;
		color: #FFF;

		&:after { color: #FFF; }

		* { font-weight: normal; }
	}
	/*
	|-------------------------------------------------------------------------------------
	|	elements
	|-------------------------------------------------------------------------------------
	*/
	> p { @extend %float; }

	p {
		line-height: 1.3;
		font-weight: bold;

		span {
			display: block;
		}
	}
	> div {
		text-align: right;
	}
	.info {
		font-weight: normal; font-size: smaller;
	}
}
/*
|-------------------------------------------------------------------------------------
|	second column
|-------------------------------------------------------------------------------------
*/
.product-details {
	@include column(8.75);
	margin-top: 30px;
}
.header {
	@include row;
	margin-bottom: 20px;

	.title { @include column(4.4); margin-top: 8px;}

	.payment-actions { @include column(6); }

	> a {
		@include column(1.6); margin-top: 8px;

		font-size: 18px;
		font-weight: bold;
		line-height: 1;
		padding-left: 40px;
		padding-top: 6px;
		position: relative;

		i {
			color: $orange;
			font-size: 36px;
			left: 0;
			position: absolute;
			top: 0;
		}
		span {
			font-weight: normal;
			font-size: 12px;
			display: block;
			line-height: 1.3;
		}
	}
}
.title {
	@extend %float;
	font-weight: bold;
	font-size: 19px;
	position: relative;
	padding-left: 24px;

	a {
		color: $orange;
		left: 0;
		position: absolute;
	}

	span {
		display: block;
		color: $dgray;
		font-size: small;
	}
}
.payment-actions {
	border-color: $blue;
	border-style: solid;
	border-width: 0 1px;

	text-align: center;

	> div {
		@include row();

		> div {
			&:nth-child(1) { @include column(3.3); }
			&:nth-child(2) { @include column(5.8); }
			&:nth-child(3) { @include column(2.9); }
		}
	}
	.amount {
		font-size: 16px;
		margin-bottom: 2px;
	}
}
.box {
	@include clearfix;
	background-color: $lgray;
	border-bottom: 1px solid $gray;
	font-size: 14px;
	padding: 20px 0;

	> ul {
		@include column(5.4);

		&:first-child {
			@include pull(0.6);
			@include push(0.3);
		}
		&:nth-child(2) {
			@include pull(0.3);
		}
	}
	li {
		border-bottom: 1px solid $gray;
		line-height: 1.4;
		margin-bottom: 4px;
		padding: 4px 10px;

		&:last-child { border: none; margin-bottom: 0; }

		span {
			float: right;
			font-weight: bold;
		}
	}
}
.search {
	margin: 20px 0;

	input {
		&[type*=text],
		&[type*=search] {
			border: none;
			padding: 8px 16px;
			width: 50%;

			&:focus { @include formFocus($orange); }
		}
	}
	button {
		background-color: transparent;
		border: none;
		color: $orange;
		float: left;
		font-size: 20px;
		margin: 1px 10px 0;

		span { @include hide-text; }
	}
}
.transactions {
	@extend .tabular-data;

	.filter {
		@include calc(bottom, "100% + 20px");
		position: absolute;
		right: 0;

		> * { display: inline-block; vertical-align: middle;}

		span {
			margin-right: 4px;
		}
	}
	.help {
		color: $dgray;
		font-size: 22px;
		margin-left: 10px;
		span { @include hide-text; }
	}
}