.main-nav {
	color: #FFF;
	float: left;
	margin-top: 50px;
	margin-left: 34px;

	ul { @include clearfix; }
	li {
		float: left;

		&.active a {
			background-color: #FFF;
			border-radius: 4px 4px 0 0;
			color: $blue;
		}
	}
	a {
		color: inherit;
		padding: 10px 16px;
		margin-left: 10px;

		&:first-child { margin: 0; }
	}
}